* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.svg__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    margin-right: 72px;
    gap: 20%;
}

svg {
    overflow: visible;
}

polygon {
    transform: scale(2);
}

@keyframes animateLetter {
    0% {
        transform: translate3d(0, calc(0vh - 72px), 0);
    }
    100% {
        transform: translate3d(0, calc(-100vh + 72px), 0);
    }
}